#calendar {
  height: 58px;
  width: 250px;
}

button {
  height: 58px;
  width: 250px;
  background-color: #00bdad;
}

table {
  width: 100%;
  text-align: center;
}
tbody.games td {
  cursor: pointer;
}

td {
  text-align: center;
  height: 52px;
  margin-bottom: 8px;
  /* cursor: pointer; */
}

td.green {
  background-color: greenyellow;
}

td.pink {
  background-color: palevioletred;
  font-weight: bold;
  color: #fff;
}

.e-center {
  display: flex;
  flex: 1;
  justify-content: center;
}
